.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 36px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
