@mixin menu-animated($config: ()) {
  $config:extend((font-size: 16px, color: #1976d2), $config);

  $font-size: map-get($config, font-size);
  $color: map-get($config, color);

  & * {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin: 0 auto;

    ::before,
    ::after {
      box-sizing: border-box;
    }
  }

  .menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 568px) {
      flex-direction: column;
    }
  }

  .menu-item {
    display: block;
    margin: 0;
    margin-left: 0;
    padding: 0;
  }

  a {
    font-size: $font-size;
    font-weight: 700;
    display: block;
    padding: $font-size;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: $color;
    height: auto;

    &:focus {
      outline: 0;
    }
  }
}
