@import 'node_modules/elr-scss-functions/main';

@mixin menu-simple-lines($config: ()) {
  $config: extend(
    (
      color: #999,
      line-color: #1976d2,
      line-thickness: 1px
    ),
    $config
  );

  $color: map-get($config, color);
  $line-color: map-get($config, line-color);
  $line-thickness: map-get($config, line-thickness);

  .menu {
    .menu-item {
      margin: 0;

      .menu-item-button {
        color: $color;
        width: 120px;
        height: auto;
        text-align: center;
        transition: color 0.3s;

        &:hover,
        &:focus {
          color: $line-color;
        }
      }

      &.current .menu-item-button {
        color: $line-color;
        transition: color 0.5s;
      }
    }
  }

  .menu-line {
    position: absolute;
    top: 100%;
    // left: -30px;
    width: 120px;
    height: $line-thickness;
    pointer-events: none;
    border: $line-thickness solid #fff;
    border-width: 0 45px;
    background-color: $line-color;
    transition: transform 0.5s;
    padding: 0;
    transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  }

  .menu-item:nth-child(1).current ~ .menu-line {
    transform: translate3d(0, 0, 0);
  }

  .menu-item:nth-child(2).current ~ .menu-line {
    transform: translate3d(100%, 0, 0);
  }

  .menu-item:nth-child(3).current ~ .menu-line {
    transform: translate3d(200%, 0, 0);
  }

  .menu-item:nth-child(4).current ~ .menu-line {
    transform: translate3d(300%, 0, 0);
  }

  .menu-item:nth-child(5).current ~ .menu-line {
    transform: translate3d(400%, 0, 0);
  }

  @media (max-width: 568px) {
    .menu-line {
      top: 3em;
    }

    .menu-item:nth-child(1).current ~ .menu-line {
      transform: translate3d(0, 0, 0);
    }

    .menu-item:nth-child(2).current ~ .menu-line {
      transform: translate3d(0, 3em, 0);
    }

    .menu-item:nth-child(3).current ~ .menu-line {
      transform: translate3d(0, 6em, 0);
    }

    .menu-item:nth-child(4).current ~ .menu-line {
      transform: translate3d(0, 9em, 0);
    }

    .menu-item:nth-child(5).current ~ .menu-line {
      transform: translate3d(0, 12em, 0);
    }
  }
}
