@import "src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-config/src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: $border;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.menu-animated {
  @include menu-animated;
}

.menu-simple-lines {
  @include menu-simple-lines;
}

.menu-double-lines {
  @include menu-double-lines;
}

.menu-drop-lines {
  @include menu-drop-lines;
}

.menu-expanding-lines {
  @include menu-expanding-lines;
}
